name: CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'api/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'api/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration du JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Compilation et Tests JUnit
        run: |
          cd api
          mvn test